container-uploader/node_modules
container-uploader/*/*
container-uploader/*.zip

s3-uploader/node_modules
s3-uploader/runtimes/rust_on_provided_al2/target
s3-uploader/runtimes/rust_on_provided_al2023/target
s3-uploader/runtimes/dotnet*/src/obj
s3-uploader/runtimes/java21/.gradle
s3-uploader/runtimes/java21/build
s3-uploader/runtimes/java21/bin
s3-uploader/runtimes/java11/.gradle
s3-uploader/runtimes/java11/bin
s3-uploader/runtimes/java8/.gradle
s3-uploader/runtimes/java8/bin
s3-uploader/runtimes/go_on_provided/go1x
s3-uploader/runtimes/quarkus_native_on_provided_al2/target
s3-uploader/runtimes/dotnet7_aot_on_provided_al2/src/obj
s3-uploader/runtimes/llrt_on_provided_al2023/bootstrap
s3-uploader/runtimes/llrt_on_provided_al2023/llrt-lambda-x64.zip
s3-uploader/runtimes/llrt_on_provided_al2023/llrt-lambda-arm64.zip
s3-uploader/runtimes/*/code*.zip
s3-uploader/runtimes/swift*/.build
s3-uploader/runtimes/swift*/Package.resolved

result-builder/node_modules

data
.DS_Store
docs/node_modules
docs/public
docs/app.js
docs/package.json
docs/package-lock.json

target

