service: lambda-perf
configValidationMode: error

provider:
  name: aws
  memorySize: 128
  region: ${env:AWS_REGION}
  deploymentBucket:
    name: lambda-perf-${env:AWS_REGION}
  iam:
    role:
      name: lambda-perf-${sls:stage}-role-${aws:region}
  timeout: 900
  logRetentionInDays: 7
  iamRoleStatements:
    - Effect: Allow
      Action: "logs:CreateLogGroup"
      Resource: "arn:aws:logs:${aws:region}:${aws:accountId}:log-group:/aws/lambda/lambda-perf-*"
    - Effect: Allow
      Action: "logs:CreateLogStream"
      Resource: "arn:aws:logs:${aws:region}:${aws:accountId}:log-group:/aws/lambda/lambda-perf-*"
    - Effect: Allow
      Action: "logs:DeleteLogGroup"
      Resource: "arn:aws:logs:${aws:region}:${aws:accountId}:log-group:/aws/lambda/lambda-perf-*"
    - Effect: Allow
      Action: "logs:PutLogEvents"
      Resource: "arn:aws:logs:${aws:region}:${aws:accountId}:log-group:/aws/lambda/lambda-perf-*:*"
    - Effect: Allow
      Action: "lambda:CreateFunction"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "lambda:DeleteFunction"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "lambda:InvokeFunction"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "lambda:AddPermission"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "lambda:RemovePermission"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "logs:PutSubscriptionFilter"
      Resource: "arn:aws:logs:${aws:region}:${aws:accountId}:*:*"
    - Effect: Allow
      Action: "lambda:UpdateFunctionConfiguration"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "lambda:GetFunction"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "lambda:GetFunctionConfiguration"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "lambda:GetLayerVersion"
      Resource: "arn:aws:lambda:*:*:layer:*:*"
    - Effect: Allow
      Action: "lambda:ListVersionsByFunction"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "lambda:PublishVersion"
      Resource: "arn:aws:lambda:${aws:region}:${aws:accountId}:function:lambda-perf-*"
    - Effect: Allow
      Action: "iam:PassRole"
      Resource: "arn:aws:iam::${aws:accountId}:role/lambda-perf-${sls:stage}-role-${aws:region}"
    - Effect: Allow
      Action: "s3:GetObject"
      Resource: "arn:aws:s3:::lambda-perf-${aws:region}/*"
    - Effect: Allow
      Action: "dynamodb:DeleteTable"
      Resource: "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/report-log"
    - Effect: Allow
      Action: "dynamodb:CreateTable"
      Resource: "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/report-log"
    - Effect: Allow
      Action: "dynamodb:DescribeTable"
      Resource: "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/report-log"
    - Effect: Allow
      Action: "dynamodb:Scan"
      Resource: "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/report-log"
    - Effect: Allow
      Action: "dynamodb:PutItem"
      Resource: "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/report-log"
    - Effect: Allow
      Action: "sqs:SendMessage"
      Resource: "arn:aws:sqs:${aws:region}:${aws:accountId}:lambda-perf-deployer"
    - Effect: Allow
      Action: "sqs:SendMessage"
      Resource: "arn:aws:sqs:${aws:region}:${aws:accountId}:lambda-perf-snapstart-deployer"
    - Effect: Allow
      Action: "sqs:SendMessage"
      Resource: "arn:aws:sqs:${aws:region}:${aws:accountId}:lambda-perf-invoker"
    - Effect: Allow
      Action: "ecr:GetRepositoryPolicy"
      Resource: "arn:aws:ecr:${aws:region}:${aws:accountId}:repository/lambda-perf"
    - Effect: Allow
      Action: "ecr:SetRepositoryPolicy"
      Resource: "arn:aws:ecr:${aws:region}:${aws:accountId}:repository/lambda-perf"
    - Effect: Allow
      Action: "ecr:BatchGetImage"
      Resource: "arn:aws:ecr:${aws:region}:${aws:accountId}:repository/lambda-perf"
    - Effect: Allow
      Action: "ecr:GetDownloadUrlForLayer"
      Resource: "arn:aws:ecr:${aws:region}:${aws:accountId}:repository/lambda-perf"


package:
  patterns:
    - "!app"
    - "!s3-uploader"
    - "!container-uploader"
    - "!target"
    - "!docs"
    - "!data"
    - "!README.md"

functions:
  
  functionReportLogProcessorRs:
    runtime: provided.al2023
    architecture: arm64
    handler: bootstrap
    environment:
      TABLE_NAME: report-log
    package:
      individually: true
      artifact: target/lambda/function-report-log-processor-rs/bootstrap-function-report-log-processor-rs.zip

  functionTriggerDeployerRs:
    runtime: provided.al2023
    architecture: arm64
    handler: bootstrap
    environment:
      TABLE_NAME: report-log
      REPORT_LOG_PROCESSOR_ARN: 
        "Fn::GetAtt": [ FunctionReportLogProcessorRsLambdaFunction, Arn ]
      FUNCTION_QUEUE_NAME: lambda-perf-deployer
      SNAPSTART_QUEUE_NAME: lambda-perf-snapstart-deployer
      SKIP_SNAPSTART: ${env:SKIP_SNAPSTART}
      ACCOUNT_ID: ${aws:accountId}
    package:
      individually: true
      artifact: target/lambda/function-trigger-deployer-rs/bootstrap-function-trigger-deployer-rs.zip
    events:
      - schedule: cron(0 11 * * ? *)

  functionDeployerRs:
    runtime: provided.al2023
    architecture: arm64
    handler: bootstrap
    package:
      individually: true
      artifact: target/lambda/function-deployer-rs/bootstrap-function-deployer-rs.zip
    environment:
      ACCOUNT_ID: ${aws:accountId}
      REPORT_LOG_PROCESSOR_ARN: 
        "Fn::GetAtt": [ FunctionReportLogProcessorRsLambdaFunction, Arn ]
      ROLE_ARN: arn:aws:iam::${aws:accountId}:role/lambda-perf-${sls:stage}-role-${aws:region}
      INVOKER_QUEUE_NAME: lambda-perf-invoker
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - lambdaPerfDeployer
              - Arn
          batchSize: 5
          maximumBatchingWindow: 30

  functionSnapstartDeployerRs:
    runtime: provided.al2023
    architecture: arm64
    handler: bootstrap
    package:
      individually: true
      artifact: target/lambda/function-deployer-rs/bootstrap-function-deployer-rs.zip
    environment:
      ACCOUNT_ID: ${aws:accountId}
      REPORT_LOG_PROCESSOR_ARN: 
        "Fn::GetAtt": [ FunctionReportLogProcessorRsLambdaFunction, Arn ]
      ROLE_ARN: arn:aws:iam::${aws:accountId}:role/lambda-perf-${sls:stage}-role-${aws:region}
      INVOKER_QUEUE_NAME: lambda-perf-invoker
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - lambdaPerfSnapstartDeployer
              - Arn
          batchSize: 2
          maximumBatchingWindow: 120
          maximumConcurrency: 2


  functionInvokerRs:
    runtime: provided.al2023
    architecture: arm64
    handler: bootstrap
    package:
      individually: true
      artifact: target/lambda/function-invoker-rs/bootstrap-function-invoker-rs.zip
    environment:
      ACCOUNT_ID: ${aws:accountId}
      ROLE_ARN: arn:aws:iam::${aws:accountId}:role/lambda-perf-${sls:stage}-role-${aws:region}
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - lambdaPerfInvoker
              - Arn
          batchSize: 5
          maximumBatchingWindow: 30
  
  
  resultBuilder:
    runtime: nodejs22.x
    environment:
      GH_AUTH_TOKEN: ${env:GH_AUTH_TOKEN}
      LAMBDA_PERF_ENV: ${env:LAMBDA_PERF_ENV}
    package:
      individually: true
      patterns:
        - result-builder
        - "!function-trigger-deployer"
        - "!function-invoker"
        - "!function-deployer"
        - "!report-log-processor"
    handler: result-builder/app.handler
    events:
      - schedule: cron(0 14 * * ? *)

resources:
  Resources:
    lambdaPerfDeployer:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "lambda-perf-deployer"
        VisibilityTimeout: 900
    lambdaPerfSnapstartDeployer:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "lambda-perf-snapstart-deployer"
        VisibilityTimeout: 900
    lambdaPerfInvoker:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "lambda-perf-invoker"
        VisibilityTimeout: 900