html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 120px; 
}
hr {
    margin-bottom: 2px;
    margin-top: 4px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}
.container {
    width: auto;
    max-width: 650px;
    padding: 0 15px;
}
.align-right {
    text-align: right;
}
.align-left {
    float:left;
}
.square {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    height:10px;
    width:9%;
    display: inline-block;
    margin-left:.5%;
}
.fixedHeight {
    height: 25px;
}
.disclaimer {
    font-size: 12px;
    line-height:12px;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
#sampleRuntimeElement {
    display: none;
}
#runtimes {
    display: flex;
    flex-wrap: wrap;
}
.runtime {
    flex: 50%;
}