[package]
name = "lambda-perf"
version = "1.0.0"
edition = "2021"

[dependencies]
lambda_runtime = "0.11.1"
tokio = { version = "1", features = ["macros"] }
serde_json = "1.0.118"

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
strip = true
